<mat-toolbar><!--Toolbar do começo da page-->
  <span>Lembretes</span>
  <form class="barrapesquisa" [formGroup]="pesquisa">
    <mat-form-field class="pesquisa"> <!--Barra de pesquisa-->
      <mat-label>Busca</mat-label>
      <input matInput placeholder="Faça sua busca" formControlName="resPesq" name="resPesq">
    </mat-form-field>
  </form>
  <button mat-icon-button class="pesquisa" (click)="pesquisaLemb()">
    <mat-icon>find_in_page</mat-icon>
  </button>
  <button mat-icon-button class="adicionar" (click)="novoLembrete()"> <!--Botao de adicionar lembrete-->
    <mat-icon>note_add</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group class="prior"> <!--Tabela de lembretes, abas de prioridade-->
  <mat-tab label="Alta Prioridade"><li *ngFor="let lembrete of alta; let i = index">{{lembrete.lembTitle}}
    <button mat-icon-button class="adicionar" (click)="editLembA(i)">
      <mat-icon>cached</mat-icon>
    </button>
  </li></mat-tab>
  <mat-tab label="Media Prioridade"><li *ngFor="let lembrete of media; let i = index">{{lembrete.lembTitle}}
    <button mat-icon-button class="adicionar" (click)="editLembM(i)">
      <mat-icon>cached</mat-icon>
    </button>
  </li></mat-tab>
  <mat-tab label="Baixa Prioridade"><li *ngFor="let lembrete of baixa; let i = index">{{lembrete.lembTitle}}
    <button mat-icon-button class="adicionar" (click)="editLembB(i)">
      <mat-icon>cached</mat-icon>
    </button>
  </li></mat-tab>
</mat-tab-group>
