<h1 class="titulo-dialog" mat-dialog-title>Criação de lembrete!</h1><!--Título do Dialog-->
<form class="formulario-lembrete-novo" [formGroup]="lembForm">
<mat-label>{{prioridade}}</mat-label>

  <div>
      <mat-form-field class="titulo-lembrete">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Edite o título do lembrete" formControlName="lembTitle" name="lembTitle">
      </mat-form-field>
  </div>

  <div>
    <mat-form-field class="conteudo-lembrete"><!--Conteudo do lembrete-->>
      <mat-label>Conteúdo</mat-label>
      <input matInput placeholder="Edite o conteúdo do Lembrete" formControlName="lembText" name="lembText">
    </mat-form-field>
  </div>

  <div mat-dialog-actions><!--Botões de salvar e fechar-->
    <button class="save-dialog" mat-button (click)="atualizarLemb()">
      <mat-icon>check</mat-icon>
    </button>
    <button class="close-dialog" mat-button (click)="cancelar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</form>
